.button {
  border: 1px solid #ccc;
  box-shadow: 0 4px 20px rgba(0,0,0,.2);

  display: inline-block;
  padding: .6em 1.2em;
  -webkit-transition: all .2s;
  transition: all .2s;

  border-radius: 50em;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .icon {
    margin-right: .4em;
  }

  &:hover {
    box-shadow: none;
  }
}

.button-primary {
  border: none;
  color: white;
  background-color: #555;

  &:hover {
    color: white;
  }
}