.section {
  margin-bottom: 60px;
}

.section .section-title {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .section-header {
    display: inline-block;
  }

  .section-controls {
    display: flex;
    flex-grow: 1;
    max-width: 230px;
    justify-content: space-between;
  }
}
